/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
/* 	background-color:#ffffff; */
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}

/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color: rgba(0, 0, 0, 0.8);
;
	z-index:100;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}

#logo img {
	width: 50px;
}

.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: white;
	font-weight:bold;
}

/* General Slides */ 

.slide {	
	font-family: 'Quicksand', sans-serif;
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:60px 0;
	color:white;	
}

/* Slide 1 */ 

#slide1{
	
	font-weight: 300;
	color:white;
	background-color: #000;
	height: 100vh;
}

#bg-image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: 2px;
	line-height: 0px;
	color:white;
	font-weight: 100;
	/*font-family: 'Indie Flower', cursive;*/
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Slide 2 */ 

#slide2{
	background-image:url('../images/tempbanner.gif');
	background-color:#ffffff;
	color:#ffffff;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide2 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Slide 3 */ 

#slide3{
	background-color:#ffffff;
}
#slide3 h1 {
	font-size: 3em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 900;
}
#slide3 h2 {
	font-size: 1.5em;
	color: #bde2df;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide3 h3 {
	font-size: 0.5em;
	color: #8a8683;
	line-height: 20px;
	padding-bottom:20px;
	font-weight: 200;
	padding-right:50px;
	padding-left:50px;
}

#slide3 h4 {
	font-size: 1em;
	color: #8a8683;
	line-height: 20px;
	padding-bottom:20px;
	font-weight: 400;
	padding-right:50px;
	padding-left:50px;
}

#test{
	background-color:#FDFFDB;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}

#slide7 .clients {
	padding-right: 20px;
	float: left;
}

#examples {
	width:40%;
	float: left;
	position: relative;
	margin-top: 200px;
}

.brands-container {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.brands {
	opacity: 0;
	width: 150px;
	padding: 20px;
}

/* Slide 4 */

#slide4{
	background-image:url('../images/sunglasses.png');
	background-color:#8a8683;
	color:#ffffff;
	padding-bottom: 200px
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide5 {
	height: 1500px;
}

#slide5 .guide {
	margin: 0 auto;
	width: 80%;
	margin-bottom: 50px;
}

#slide5 td {
	padding-bottom: 10px;
}
#slide5 colgroup.rank  {
	
}
#slide5 colgroup.skill  {
	
}
#slide5 .ranking {
	margin: 0 auto;
	width: 75%;
	margin-bottom: 50px;
}
#slide5 td.time  {
	padding-left: 50px;
}
#slide5 td.rank {
	font-weight: bold;
	padding-right: 50px;
}
/*
#slide5 td.lightsaber {
    clip: rect(10px,10px,10px,10px);
}
*/



/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	/*width: 100%;*/
	float: left;
	text-align: center;
}

#nav {
    width: 70%;
    float: right;
}

.navigation{
	width: 63%;
	float: right;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li {
	float: left;
	font-size: 0.8em;
	text-align: center;
	width:33%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
}

#slide1 {
	height: auto;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	float: left;
	width: 20%;
	/*text-align: center;*/
}

#nav {
	/*width:100%;*/
	margin:5px 0;
}


.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
    text-align: center;
	font-size: 0.5em;
	float: left;
	width:30%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding: 40px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




